<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label 'Nome' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :avatar %>
    <%= form.file_field :avatar, class: 'form-control-file' %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar', class: 'btn btn-sm btn-primary shadow-sm' %>
  </div>
<% end %>
