

<!-- Begin Page Content -->
<div data-controller="patients" class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Pacientes</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Cadastrar paciente</a>
  </div>

  <!-- Content Row -->

  <div class="row">

    <!-- Area Chart -->
    <div class="col">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <%= render partial: 'shared/search', locals: {search_path: patients_path, placeholder: 'CPF ou Nome'} %>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">CPF</th>
                <th scope="col">Nome</th>
                <th scope="col">Exames realizados</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <%= render @patients %>
            </tbody>
          </table>
          <div class="d-flex align-items-center justify-content-between">
            <small><%= page_entries_info @patients %></small>
            <%= paginate @patients, window: 1 %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

<%= javascript_pack_tag 'home' %>
