<p id="notice"><%= notice %></p>

<h1>Testes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cpf</th>
      <th>Avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.type %></td>
        <td><%= exam.cpf %></td>
        <td><%= exam.acquisition_date %></td>
        <td><%= exam.modality %></td>
        <td><%= exam.study_description %></td>
        <td><%= exam.series_description %></td>
        <td><%= exam.slice_thickness %></td>
        <td><%= exam.kvp %></td>
        <td><%= exam.exposure_time %></td>
        <td><%= exam.xray_tube_current %></td>
        <td><%= exam.exposure %></td>
        <td><%= exam.radionuclide %></td>
        <td><%= exam.radionuclide_total_dose %></td>
        <td><%= exam.patients_name %></td>
        <td><%= exam.patient_id %></td>
        <td><%= exam.patients_sex %></td>
        <td><%= exam.patients_weight %></td>
        <td><%= link_to 'Show', exam_path(exam) %></td>
        <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
        <td><%= link_to 'Destroy', exam_path(exam), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Exame', new_exam_path %>
