<div class="exam-page container" data-controller="exams">

<div class="row">
  <div class="col">
      <h1>Cadastrar exame</h1>
      <div class="card">
        <div class="card-body">
          <%= form_tag '/exames' ,multipart: true, class: 'form-group' do %>

            <% if params[:cpf] %>
              <%= hidden_field_tag :cpf, params[:cpf] %>
            <% else %>
              <%= text_field_tag :cpf, nil, class: 'w-25 form-control mb-3', placeholder: 'CPF do paciente' %>
            <% end %>

            <div class="contain animated bounce">
            <small class="mb-3 d-block">Selecione um arquivo DICOM (.dcm)</small>
              <div class="d-flex align-items-center">
                <div id='img_contain w-25'>
                  <%= image_tag "DICOM.png", width:"50" %>
                </div>
                <div class="custom-file w-50">
                  <%= file_field_tag "file",
                        class: 'imgInp custom-file-input form-control-file',
                        id: 'inputGroupFile',
                        data: {
                          target: 'exams.fileInput',
                          action: 'exams#readFile'
                          } %>
                  <label class="custom-file-label" data-target="exams.fileLabel" for="inputGroupFile">Procurar arquivo DICOM</label>
                </div>
              </div>
            </div>

            <div class="mt-5"><%= submit_tag 'Cadastrar', class: 'btn btn-primary', data: {target: 'exams.submit'}, disabled: true %></div>
          <% end %>
        </div>
      </div>
  </div>
</div>
